[Unit]
Description=HDFS JournalNode service 

[Service]
Type=simple
User={{ hadoop_user }}
Group={{ hadoop_user }}
ExecStart=/etc/hadoop/bin/hdfs journalnode
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
